vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|10 Mar 2007 02:06:35 -0000
vti_extenderversion:SR|5.0.2.2623
vti_author:SR|UZMA\\designer
vti_modifiedby:SR|UZMA\\designer
vti_timecreated:TR|09 Mar 2007 01:07:01 -0000
vti_lineageid:SR|{E1258C05-F609-4682-B536-0385133327B6}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|10 Mar 2007 02:00:43 -0000
vti_cacheddtm:TX|10 Mar 2007 02:02:12 -0000
vti_filesize:IR|11451
vti_cachedlinkinfo:VX|S|../images/FO-Login01.jpg S|../images/FO-Login02.jpg
vti_cachedsvcrellinks:VX|NSUS|d/system/WWWRoot/BO/images/FO-Login01.jpg NSUS|d/system/WWWRoot/BO/images/FO-Login02.jpg
